/* 全局样式 */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    background-image: url('./sources/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    padding: 0;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

.form-group select {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

.btn-primary, .btn-secondary {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 1.1rem;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0056b3;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
}

.alert {
    margin-top: 20px;
}
